/*
IMPORTANT NOTE:
 This file SHOULD NOT BE EDITED MANUALLY, as its purpose
 is to be the point where all your stylesheet-files will
 be imported
*/



// inject:sass

@import  '_functions/_some-function.scss';

@import  '_mixins/_some-mixin.scss';

@import  '_placeholders/_some-placeholder.scss';

@import  '_variables.scss';

@import  'base/_buttons.scss';

@import  'base/_fonts.scss';

@import  'base/_forms.scss';

@import  'base/_icons.scss';

@import  'base/_lists.scss';

@import  'base/_page.scss';

@import  'base/_tables.scss';

@import  'base/_typography.scss';

@import  '../scripts/directives/auth/_auth-d.scss';

@import  '../scripts/directives/coin/_coin-d.scss';

@import  '../scripts/directives/delivery/_delivery-d.scss';

@import  '../scripts/directives/dna/_dna-d.scss';

@import  '../scripts/directives/job/_job-d.scss';

@import  '../scripts/directives/jobs/_jobs-d.scss';

@import  '../scripts/directives/news/_news-d.scss';

@import  '../scripts/directives/product/_product-d.scss';

@import  '../scripts/directives/products/_products-d.scss';

@import  '../scripts/directives/reviews/_reviews-d.scss';

@import  '../scripts/directives/scannabis/_scannabis-d.scss';

@import  '../scripts/directives/shop/_shop-d.scss';

@import  '../scripts/directives/users/_users-d.scss';

@import  '../scripts/main/upload/_upload-d.scss';

// endinject


$deep : rgba(77, 65, 179, 1);
$light : rgba(148, 246, 158, 1);
$smart : rgba(42, 148, 250, 1);
$bold : rgba(255, 76, 148, 1);
$true : rgba(254, 141, 102, 1);
$white : rgba(254, 255, 253, .9);
$black : rgba(0, 2, 1, .85);

.panel {
  border-radius: 8px;
  padding: 8px;
}
.deep {color:$deep}
.true {color:$true}
.bold {color:$bold}
.deep-bg {
  background: $deep;
  color: $white;}
.black-bg {
  background: $black;
  color: $white;}
.white-bg {
  background: $white;
  color: $black;}
.smart-bg {
  background: $smart;
  color: $white;}
button { padding:1em; font-size: 1em;
  background: $smart;
  color: rgba(255,255,255,.9);
  border: 3px solid rgba(255,255,255, .5);}
button.secondary {
  background: $deep;}
button.tertiary {
  background: $true;}
button.reallygood {
  background: $bold;}
button.think {
  background: $smart;}
button.snow {
  background: $white; color: $bold; font-weight: 900}

input, input:focus, textarea, textarea:focus  { padding:.25em; font-size: 1.2em;
  background: $white;
  border: $white;
  box-shadow: 1px 4px 2px $deep}
input[type=file] {
  width:100px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: $light !important;
  background-image: none;
  color: rgba(0, 0, 0, .8) !important;
}

.footer {
  position: fixed; bottom: 0; width: 100vw; background:rgba(106, 116, 64, .9); color: rgba(255,255,255,.8); padding: .5em;
  background: $deep;
}
.header-inner {
  display: flex; text-align: center;
  flex-direction: row;
  list-style: none;
  background: $white;
  box-shadow: 0px 0px 2px 5px $white;

}
/*.header-outer.header-inner {
  width:100vw;  background: rgba(255,255,255, .9);
}*/
.header-outer {
  border-bottom: solid $true 2px;
  padding:1em;
  height: 50px;
  position:fixed;
  z-index: 9999;
}