html {
  background: url('https://www.coloradopotguide.com/media/1023/wax.jpg') center center no-repeat fixed;
  background-size: cover;
}

.scannabis{
  background: rgba(254,255,253, .8);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1em;
}