<div style="width:100vw; padding:1em; height: 50px; position:fixed; z-index: 9999; background: rgba(255,255,255, .9)">
        <!-- Missing links 'strains', 'news', 'coins', 'users', 'jobs' -->
        <div ng-init="links = ['delivery', 'market', 'pos', 'auth']" style="display: flex; text-align: center; list-style: none">
            <img src="images/qr.png" style="height: 20px;">
            <b style="float: left; flex: 2 1 100px; font-weight: 900; font-size: 1.2em; text-align: left">
                {{'Scannabis' | uppercase}}</b>
            <div ng-repeat="link in links" style="flex: 1 1 100px; font-weight: 400" >
                <div ng-if="state.current.url !== link" ui-sref="scannabis.{{link}}">{{link | uppercase}}</div>
                <b ng-if="state.current.url === link" ui-sref="scannabis.{{link}}">{{link | uppercase}}</b>
            </div>
        </div>
</div>
<br><ui-view style="position:absolute; top:80px"></ui-view>


<!--
<div>
    <img src="images/scannabis-logo.png" alt="scannabis"/>
</div>
<div class="scannabis">
    <div>
        <auth></auth>
        <users></users>
    </div>
    <div>
        <shop></shop>
        <products></products>
        <delivery></delivery>
        <reviews></reviews>
    </div>
    <div>
        <coin></coin>
        <dna></dna>
    </div>
    <ul>
        <li>
            <h2>market</h2>
            <ul>
                <li>buy stuff</li>
                <li>sell stuff</li>
                <li>deliver stuff</li>
                <li>review stuff</li>
            </ul>
        </li>
        <li>
            <h2>coin</h2>
            <ul>
                <li>buy coins</li>
                <li>sell coins</li>
            </ul>
        </li>
        <li>
            <h2>dna</h2>
            <ul>
                <li>research strains</li>
                <li>match strain dna to yours</li>
            </ul>
        </li>
    </ul>
</div>-->
