<div class="shop">
    <h2>Shop</h2>
    <hr/>
    <h3>Catalog</h3>
    <div ng-repeat="(userKey, user) in data.data.users">
        <div ng-repeat="(productKey, product) in user.public.products">
            <a ui-sref="scannabis.market.product({user:userKey, product: productKey})"><img ng-repeat="img in product.media" ng-src="{{img[100]}}" alt=""></a>
            <form name="buyProduct" ng-submit="data.methods.add('orders', product)">
                <h2>{{product.name}} ${{product.price}}</h2>
                <input type="number" ng-model="product.qty" placeholder="qty"/>
                <button type="submit">Buy</button>
            </form>
        </div>
    </div>
    <h3>Cart</h3>
    <div ng-repeat="(key, product) in data.data.users[data.auth.uid].public.orders">
        <form name="deliver" ng-submit="data.methods.add('delivery', product); data.methods.remove('delivery', key);">
            {{product.name}}
            <input type="number" ng-model="product.qty" placeholder="qty" required/>
            <button>Deliver</button>
        </form>
    </div>
</div>