<div class="products">
    <h2>Products</h2>
    <hr/>
    <h3>Add Products</h3>
    <form name="addProduct"
          ng-submit="newProduct.media = $root.media || null; data.methods.add('products', newProduct); newProduct = {}; $root.media = {}">
        <h4>Product Info</h4>
        <input type="text" ng-model="newProduct.name" placeholder="name"/>
        <textarea type="text" ng-model="newProduct.desc" placeholder="description"></textarea>
        <div>
            <h5>Product Category</h5>
            <span ng-repeat="category in ['flowers', 'edibles', 'extracts']">
            <span>
                <label for="{{category}}">
                    <input value="{{category}}" type="radio" id="{{category}}" ng-model="$parent.newProduct.category">{{category}}
                </label>
            </span>

            </span>
            <label for="sub-category"><input id="sub-category" type="text" placeholder="sub-category"
                                             ng-model="newProduct.subCategory"></label>
        </div>
        <div><h5>Sub-species (Hybrids, select more than one)</h5><span
                ng-repeat="subspecies in ['sativa', 'indica', 'ruderalis']">
            <span><label for="{{subspecies}}">
                <input type="checkbox" id="{{subspecies}}" ng-model="$parent.newProduct.subspecies[subspecies]">{{subspecies}}
            </label></span>

        </span><input type="text" ng-model="$parent.newProduct.subspecies['other']" placeholder="Other"></div>
        <div><h5>Molecules</h5><span
                ng-repeat="mole in ['THC (∆9-Tetrahydrocannabinol)', 'THCV (Tetrahydrocannabivarin)', 'CBD (Cannabidiol)', 'CBDV (Cannabidivarin)', 'CBG (Cannabigerol)', 'CBC (Cannabichromene)', 'CBN (Cannabinol)']">
            <span>
                <label for="{{mole}}">

                    <span ng-show="!show.moleAmount">
                        <button type="button" ng-click="show.moleAmount = !show.moleAmount">
                            {{$parent.newProduct.mole[mole]}}% {{mole}}
                        </button>
                    </span>
                    <div ng-show="show.moleAmount"><input ng-blur="show.moleAmount = false" type="text" id="{{mole}}"
                                                          ng-model="$parent.newProduct.mole[mole]">% {{mole}}
                    </div>
                </label>
            </span>
        </span></div>
        <input type="number" ng-model="newProduct.supply" placeholder="supply available"/>
        <label for="published">Publish</label><input id="published" type="checkbox" ng-model="newProduct.published"/>
        <h4>Pricing</h4>
        <input type="number" ng-model="newProduct.price" placeholder="gram price"/>
        <input type="number" ng-model="newProduct.prices.gram" placeholder="eighth price"/>
        <input type="number" ng-model="newProduct.prices.eighth" placeholder="quarter price"/>
        <input type="number" ng-model="newProduct.prices.half" placeholder="half price"/>
        <h4>Upload Image</h4><uploader></uploader>
        <button type="submit">Add Product</button>
        <div ng-style="{display: 'flex'}">
            <div ng-repeat="(imgKey, img) in $root.media">
                <img ng-src="{{img.full}}" alt="" ng-style="{width: '20%'}">
                <a ng-click="$parent.$root.media.splice(img,1)">Remove</a>
            </div>
        </div>
    </form>
    <h3>Edit Products</h3>
    <div ng-repeat="(key, product) in (data.data.myProducts || data.data.users[data.auth.uid].public.products)">
        <img ng-repeat="img in product.media" ng-src="{{img.full}}" alt="">
        <div>
            <form name="editProduct"
                  ng-submit="product.media = $root.media || null; data.methods.save('users/'+data.auth.uid+'/public/products', product.id, product); $root.media = {}">
                <h4>Product Info</h4>
                <input type="text" ng-model="product.name" placeholder="name"/>
                <textarea type="text" ng-model="product.desc" placeholder="description"></textarea>
                <div>
                    <h5>Product Category</h5>
            <span ng-repeat="category in ['flowers', 'edibles', 'extracts']">
            <span>
                <label for="{{category}}">
                    <input value="{{category}}" type="radio" id="{{category}}" ng-model="$parent.product.category">{{category}}
                </label>
            </span>

            </span>
                    <label for="sub-category"><input id="sub-category" type="text" placeholder="sub-category" ng-model="product.subCategory"></label>
                </div>
                <div><h5>Sub-species (Hybrids, select more than one)</h5><span
                        ng-repeat="subspecies in ['sativa', 'indica', 'ruderalis']">
            <span><label for="{{subspecies}}">
                <input type="checkbox" id="{{subspecies}}" ng-model="$parent.product.subspecies[subspecies]">{{subspecies}}
            </label></span>

        </span><input type="text" ng-model="$parent.product.subspecies['other']" placeholder="Other"></div>
                <div><h5>Molecules</h5><span
                        ng-repeat="mole in ['THC (∆9-Tetrahydrocannabinol)', 'THCV (Tetrahydrocannabivarin)', 'CBD (Cannabidiol)', 'CBDV (Cannabidivarin)', 'CBG (Cannabigerol)', 'CBC (Cannabichromene)', 'CBN (Cannabinol)']">
            <span>
                <label for="{{mole}}">

                    <span ng-show="!show.moleAmount">
                        <button type="button" ng-click="show.moleAmount = !show.moleAmount">
                            {{$parent.product.mole[mole]}}% {{mole}}
                        </button>
                    </span>
                    <div ng-show="show.moleAmount"><input ng-blur="show.moleAmount = false" type="text" id="{{mole}}" ng-model="$parent.product.mole[mole]">% {{mole}}
                    </div>
                </label>
            </span>
        </span></div>
                <input type="number" ng-model="product.supply" placeholder="supply available"/>
                <label for="published">Publish</label><input id="published" type="checkbox" ng-model="product.published"/>
                <h4>Pricing</h4>
                <label for="gram-price"><input id="gram-price" type="number" ng-model="product.price" placeholder="gram price"/> per gram</label>
                <label for="eighth-price"><input id="eighth-price" type="number" ng-model="product.prices.eighth" placeholder="eighth price"/> per eighth</label>
                <label for="quarter-price"><input id="quarter-price" type="number" ng-model="product.prices.quarter" placeholder="quarter price"/> per quarter</label>
                <label for="half-price"><input id="half-price" type="number" ng-model="product.prices.half" placeholder="half price"/> per half</label>

                <h4>Upload New Image</h4>
                <uploader></uploader>
                <button type="submit">Save Product</button>
                <div ng-style="{display: 'flex'}">
                    <div ng-repeat="(imgKey, img) in product.media">
                        <img ng-src="{{img.full}}" alt="" ng-style="{width: '20%'}">
                        <a ng-click="product.media.splice(img,1)">Remove</a>
                    </div>
                </div>
            </form>

        </div>
        <a href=""
           ng-click="data.data.users[data.auth.uid].public.products[product.id].$remove(); data.methods.remove('products', product.id);">Remove</a>

    </div>
</div>