<div class="products">
    <h3 ng-click="show['addNewProduct'] =! show['addNewProduct']">
        <b ng-bind="show['addNewProduct'] ? '-' : '+'"> </b>
        Add New Product</h3>
    <form name="addProduct"
          ng-show="show['addNewProduct']"
          style="background: rgba(255,255,255, .8); padding:1em; margin:1em;"
          ng-submit="newProduct.media = $root.media || null; data.methods.addNew('products', newProduct); newProduct = {}; $root.media = null">

        <h4 ng-click="show['productInfo'] =! show['productInfo']"><b ng-bind="show['productInfo'] ? '-' : '+'"> </b>
            Product Info</h4>
        <div ng-show="show['productInfo']">
            <input type="text" ng-model="newProduct.name" placeholder="name"/>
            <div><textarea type="text" ng-model="newProduct.desc" placeholder="description"></textarea></div>
            <div>
                <h5>Product Category</h5>
            <span ng-repeat="category in ['flowers', 'edibles', 'extracts']">
            <span>
                <label for="{{category}}">
                    <input value="{{category}}" type="radio" id="{{category}}" ng-model="$parent.newProduct.category">{{category}}
                </label>
            </span>

            </span>
                <label for="sub-category"><input id="sub-category" type="text" placeholder="sub-category"
                                                 ng-model="newProduct.subCategory"></label>
            </div>
            <div><h5>Sub-species (Hybrids, select more than one)</h5><span
                    ng-repeat="subspecies in ['sativa', 'indica', 'ruderalis']">
            <span><label for="{{subspecies}}">
                <input type="checkbox" id="{{subspecies}}" ng-model="$parent.newProduct.subspecies[subspecies]">{{subspecies}}
            </label></span>

        </span><input type="text" ng-model="$parent.newProduct.subspecies['other']" placeholder="Other"></div>
            <div><h5>Molecules</h5><span
                    ng-repeat="mole in ['THC (∆9-Tetrahydrocannabinol)', 'THCV (Tetrahydrocannabivarin)', 'CBD (Cannabidiol)', 'CBDV (Cannabidivarin)', 'CBG (Cannabigerol)', 'CBC (Cannabichromene)', 'CBN (Cannabinol)']">
            <span>
                <label for="{{mole}}">

                    <span ng-show="!show.moleAmount">
                        <button class="secondary" type="button" ng-click="show.moleAmount = !show.moleAmount">
                            {{$parent.newProduct.mole[mole]}} {{mole}}
                        </button>
                    </span>
                    <div ng-show="show.moleAmount"><input ng-blur="show.moleAmount = false" type="text" id="{{mole}}"
                                                          ng-model="$parent.newProduct.mole[mole]"> {{mole}}
                    </div>
                </label>
            </span>
        </span></div>
            <input type="number" ng-model="newProduct.supply" placeholder="supply available"/>
            <label for="published">Publish</label><input id="published" type="checkbox"
                                                         ng-model="newProduct.published"/></div>

        <h4 ng-click="show['pricing'] =! show['pricing']"><b ng-bind="show['pricing'] ? '-' : '+'"> </b> Pricing</h4>
        <div ng-show="show['pricing']"><input type="number" ng-model="newProduct.price" placeholder="gram price"/>
            <input type="number" ng-model="newProduct.prices.gram" placeholder="eighth price"/>
            <input type="number" ng-model="newProduct.prices.eighth" placeholder="quarter price"/>
            <input type="number" ng-model="newProduct.prices.half" placeholder="half price"/></div>

        <h4 ng-click="show['chooseImages'] =! show['chooseImages']">
            <b ng-bind="show['chooseImages'] ? '-' : '+'"> </b> Choose Image</h4>
        <div ng-show="show['chooseImages']">
            <button class="secondary" type="button" ng-click="show.chooseImage = 'select'">Select from your image library</button>
            <button type="button" ng-click="show.chooseImage = 'upload'" class="tertiary">Upload a new image</button>
            <div ng-if="show.chooseImage === 'select'">
            <span ng-repeat="(imageKey, image) in $parent.data.test.users[data.auth.uid].public.images">
                <img ng-click="$parent.$root.media = null; selected = 100; $root.media = image;"
                     ng-init="img.src=data.methods.getImage(image)" ng-src="{{img.src.$value || img.src}}"
                     style="max-height:{{selected || 40}}px; width: auto;">
            </span>
            </div>

            <div ng-if="show.chooseImage === 'upload'">
                <uploader name="new-product"></uploader>
            </div>

            <div ng-style="{display: 'flex'}" ng-if="$root.media">
                <img ng-init="img.src = data.methods.getImage($root.media)" ng-src="{{img.src.$value || img.src}}"
                     ng-style="{width: 'auto', height:'200px'}">
                <a ng-click="$root.media = null">Remove Image</a>
            </div>
        </div>
        <button type="submit">Add Product to Inventory</button>

    </form>
    <h3>Edit Products</h3>
    <!--<code ng-repeat="(productKey, product) in $parent.data.test.users[data.auth.uid].public.products"
          ng-init="going = data.methods.getEntry('products', productKey)">
        {{productKey}}
        <input type="text" ng-model="going.name" ng-blur="data.methods.save('products', productKey, going)">
        {{going}}
    </code>-->
    <div ng-repeat="(key, produkt) in $parent.data.test.users[data.auth.uid].public.products"
         ng-init="product=$parent.data.methods.getEntry('products', key)"
         style="background:rgba(255,255,255, .8); padding:1em; margin:1em">
        <b ng-click="show['product.name']=!show['product.name']">{{product.name}}</b>
        <div ng-show="show['product.name']">
            <form name="editProduct-{{$index}}"
                  ng-submit="data.methods.save('products', key, product); state.reload()">
                <h4>Product Info</h4>
                <input type="text" ng-model="product.name" placeholder="product name">
                <br>
                <div><textarea type="text" ng-model="product.desc" placeholder="product description"></textarea></div>
                <div>
                    <h5>Product Category</h5>
            <span ng-repeat="category in ['flowers', 'edibles', 'extracts']">
            <span>
                <label for="{{category}}">
                    <input value="{{category}}" type="radio" id="{{category}}" ng-model="$parent.product.category">{{category}}
                </label>
            </span>

            </span>
                    <label for="sub-category"><input id="sub-category" type="text" placeholder="sub-category"
                                                     ng-model="product.subCategory"></label>
                </div>
                <div><h5>Sub-species (Hybrids, select more than one)</h5><span
                        ng-repeat="subspecies in ['sativa', 'indica', 'ruderalis']">
            <span><label for="{{subspecies}}">
                <input type="checkbox" id="{{subspecies}}" ng-model="$parent.product.subspecies[subspecies]">{{subspecies}}
            </label></span>

        </span><input type="text" ng-model="$parent.product.subspecies['other']" placeholder="Other"></div>
                <div><h5>Molecules</h5><span
                        ng-repeat="mole in ['THC (∆9-Tetrahydrocannabinol)', 'THCV (Tetrahydrocannabivarin)', 'CBD (Cannabidiol)', 'CBDV (Cannabidivarin)', 'CBG (Cannabigerol)', 'CBC (Cannabichromene)', 'CBN (Cannabinol)']">
            <span>
                <label for="{{mole}}">

                    <span ng-show="!show.moleAmount">
                        <button class="secondary" type="button" ng-click="show.moleAmount = !show.moleAmount">
                            {{$parent.product.mole[mole]}} {{mole}}
                        </button>
                    </span>
                    <div ng-show="show.moleAmount"><input ng-blur="show.moleAmount = false" type="text" id="{{mole}}"
                                                          ng-model="$parent.product.mole[mole]"> {{mole}}
                    </div>
                </label>
            </span>
        </span></div>
                <input type="number" ng-model="product.supply" placeholder="supply available"/>
                <label for="published">Publish</label><input id="published" type="checkbox"
                                                             ng-model="product.published"/>
                <h4>Pricing</h4>
                <label for="gram-price"><input id="gram-price" type="number" ng-model="product.price"
                                               placeholder="gram price"/> per gram</label>
                <label for="eighth-price"><input id="eighth-price" type="number" ng-model="product.prices.eighth"
                                                 placeholder="eighth price"/> per eighth</label>
                <label for="quarter-price"><input id="quarter-price" type="number" ng-model="product.prices.quarter"
                                                  placeholder="quarter price"/> per quarter</label>
                <label for="half-price"><input id="half-price" type="number" ng-model="product.prices.half"
                                               placeholder="half price"/> per half</label>

                <h4>Change Image</h4>
                <button class="secondary" type="button" ng-click="changeImage = 'select'">Select from your image library</button>
                <button type="button" ng-click="changeImage = 'upload'" class="tertiary">Upload a new image</button>

                <div ng-if="changeImage === 'select'">

                    <span ng-repeat="(imageKey, image) in $parent.data.test.users[data.auth.uid].public.images">
                        <img ng-click="product.media = null; selected = 100; product.media = image;"
                             ng-init="img.src=data.methods.getImage(image)" ng-src="{{img.src.$value || img.src}}"
                             style="max-height:{{selected || 40}}px; width: auto;">
                    </span>

                    <!--<span ng-if="data.auth.uid"
                          ng-repeat="(imageKey, image) in data.test.users[data.auth.uid].public.images">
                        <img ng-click="product.media = null; selected = 100; product.media = image;"
                             ng-init="img.src=data.methods.getImage(image)" ng-src="{{img.src.$value}}"
                             style="max-height:{{selected || 40}}px; width: auto;">
                    </span>-->
                </div>

                <div ng-if="changeImage === 'upload'">
                    <uploader name="{{key}}" pass="product"></uploader>
                </div>

                <div ng-style="{display: 'flex'}" ng-if="product.media">
                    <img ng-init="img.src = data.methods.getImage(product.media)" ng-src="{{img.src.$value || img.src}}"
                         ng-style="{width: 'auto', height:'200px'}">
                    <a ng-click="product.media = null">Remove Image</a>
                </div>

                <button type="submit">Save Product</button>
            </form>
            <a ng-click="data.methods.remove('products', key);">Remove Product from System</a>
        </div>
    </div>
</div>